<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mongo Task Manager</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('get_tasks')}}" class="brand-logo">Task Manager</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_tasks')}}">Home</a></li>
                    <li><a href="{{url_for('add_task')}}">New Task</a></li>
                    <li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('get_tasks')}}">Home</a></li>
                    <li><a href="{{url_for('add_task')}}">New Task</a></li>
                    <li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block additional_scripts %} {% endblock %}
</body>

</html>
